body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Fundo preto para simular o ambiente de jogo */
}

canvas {
    border: 2px solid #fff; /* Opcional: adiciona uma borda ao redor do canvas */
}
